<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="theme" content="pelican-academic">
      {% block title %}
      <title>{{ SITENAME }}</title>
      {% endblock %}
      {% block description %}
      <meta name="description" content="">
      {% endblock %}
      {% block author %}
      <meta name="author" content="{{ AUTHOR }}">
      {% endblock %}

      {% block favicon %}
      <link rel="icon" type="image/png" href="theme/favicon.png">
      <link rel="apple-touch-icon" type="image/png" href="theme/favicon-192.png">
      {% endblock %}

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.2/css/academicons.min.css" integrity="sha256-oGiTEL8yJwZpnRENOYNPR8e3gyozuRmWmedoB+uATdM=" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" integrity="sha256-ygkqlh3CYSUri3LhQxzdcm0n1EQvH2Y+U5S2idbLtxs=" crossorigin="anonymous" />

      {% if GOOGLE_FONT is defined %}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{GOOGLE_FONT}}">
      {% endif %}

      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/academic.css" />

      {% if GOOGLE_ANALYTICS is defined %}
        <script>
          window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
          ga('create', '{{ GOOGLE_ANALYTICS }}', 'auto');
          ga('require', 'eventTracker');
          ga('require', 'outboundLinkTracker');
          ga('require', 'urlChangeTracker');
          ga('send', 'pageview');
        </script>
        <script async src="//www.google-analytics.com/analytics.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.4.1/autotrack.js" integrity="sha256-vOtzmT0JTEyCHHVxkhEDvcjAXpCCxPxRPSRDWNU1k9s=" crossorigin="anonymous"></script>
      {% endif %}
  </head>

  <body id="top" data-spy="scroll" data-target="#navbar-main" data-offset="71" class="{{ ACADEMIC_COLOR|default('light') }}">
    {% include "includes/navbar.html" %}
    <main role="main">
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
