{% macro render_section(title) -%}
  <section>
      <h2>{{ title }}</h2>
      <p class="contents">
          {{ caller() | markdown }}
      </p>
  </section>
{%- endmacro %}

{% macro publications_section(title) -%}
<section>
    <h2>Publications</h2>
    {% for article in articles_page.object_list if article.source_path.endswith('index.md') %}
      <li>{{ article.slug }}</li>
    {% endfor %}
</section>
{%- endmacro %}

{% macro begin_section(title) -%}
<section><h3>{{title}}</h3>
{%- endmacro %}

{% macro end_section() -%}
</section>
{%- endmacro %}

{% macro render_citation(title) -%}
<div><cite><strong>citation={{title}}</strong></cite></div>
{%- endmacro %}
