
{% macro article_card(article) -%}
  <article class="card article-card">
    {% if article.featured_image %}
      <div class="card-img-top article-feature-img" style="background-image:url({{SITEURL}}/images/{{article.featured_image}})">
        <div class="article-feature-img__darken"></div>
        <a class="article-feature-img__container" href="{{ article.url }}">
          <h4 class="article-feature-img__title">{{article.title}}</h4>
        </a>
      </div>
    {% endif %}
    <div class="card-body">
      {% if not article.featured_image %}
        <h4 class="card-title">
          <a href="{{ article.url }}">{{article.title}}</a>
        </h4>
      {% endif %}
      <p class="card-text">{{article.abstract_short}}</p>
      <div class="article-card__authors">{{ article.authors | join(', ')}}</div>
      {% if article.publication_short is defined %}
        <div class="article-card__publication">{{ article.publication_short }}</div>
      {% endif %}
    </div>
    {% if article.links is defined %}
      <div class="card-footer">
        <ul class="article-card__links">
          {% for link in article.links %}
            <li class="article-card__link-item"><a class="btn btn-outline-primary btn-xs" target="_blank" href="{{ link.url }}">{{ link.label }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </article>
{%- endmacro %}
